{% extends 'store/main.html' %} {% load static %}
{% load humanize %}
{% block content %}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Checkout</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Checkout Area Strat-->
<div class="checkout-area pt-60 pb-30">
    <div class="container">
        <div class="row">
            {% if items %}
            <div class="col-lg-6 col-12" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <div class="row" id="user-info">
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>First Name <span class="required">*</span></label>
                                    <input name="first_name" placeholder="" required type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Last Name <span class="required">*</span></label>
                                    <input name="last_name" required placeholder="" type="text">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Email <span class="required">*</span></label>
                                    <input required name="email" placeholder="" type="email">
                                </div>
                            </div>
                        </div>

                        <div class="row" id="shipping-info">
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Address <span class="required">*</span></label>
                                    <input required name="address" placeholder="Street address" type="text">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Town / City <span class="required">*</span></label>
                                    <input required name="city" type="text">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label> State <span class="required">*</span></label>
                                    <input required type="text" name="state">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Phone <span class="required">*</span></label>
                                    <input required name="phone" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Continue" id="form-button" class="btn btn-success btn-block">
                </form>
            </div>
            <div class="col-lg-6 col-12">
                <div class="your-order" id="form-wrapper">
                    <h3>Your order</h3>

                    <div class="your-order-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-total">Image</th>
                                    <th class="cart-product-total">Total</th>
                                </tr>
                            </thead>

                            <tbody>
                                {%for item in items%}
                                <tr class="cart_item">

                                    <td class="cart-product-name">{{item.product.name}} x {{item.quantity}}</td>
                                    <td class="cart-product-total">
                                        <img src="{{item.product.ImageURL}}" alt="{{item.product.name}}"
                                            class="small-image">
                                    </td>
                                    <td class="cart-product-total"><span
                                            class="amount">₦{{item.get_total|floatformat:2|intcomma}}</span></td>

                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="order-total">
                                    <th>Order Total</th>
                                    <td><strong><span class="amount"></span></strong></td>
                                    <td><strong><span
                                                class="amount">₦{{order.get_cart_total|floatformat:2|intcomma}}</span></strong>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                    <div class="order-button-payment hidden" id="payment-info">
                        <input value="Place Order" id="make-payment" type="submit">
                    </div>
                    {% else %}
                    <h5 style="font-size: medium; text-align: center; color: red; font-weight: 600;">You Don't Have Any
                        Order!!!</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--Checkout Area End-->

<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
    // Set up a Paystack form handler when the checkout form is submitted
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total}}'
    if (shipping == 'False') {
        document.getElementById('shipping-info').innerHTML = ''
    }

    if (user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = ''
    }

    if (shipping == 'False' && user != 'AnonymousUser') {
        document.getElementById('form-wrapper').classList.add("hidden");
        document.getElementById('payment-info').classList.remove("hidden");

    }

    var form = document.getElementById('form')

    csrftoken = form.getElementsByTagName("input")[0].value
    console.log('Newtoken:', form.getElementsByTagName("input")[0].value)

    form.addEventListener('submit', function (e) {
        e.preventDefault()
        console.log('form submitted')
        document.getElementById('form-button').classList.add("hidden")
        document.getElementById('payment-info').classList.remove("hidden")
    })

    document.getElementById('make-payment').addEventListener('click', function (e) {
        document.getElementById('make-payment').setAttribute('disabled', true);
        submitFormData();
    });


    // Define the payWithPaystack function
    function submitFormData() {
        console.log('Payment button clicked')

        var userFormData = {
            'first_name': null,
            'last_name': null,
            'email': null,
            'total': total,
        }

        var shippingInfo = {
            'address': null,
            'state': null,
            'city': null,
            'phone': null,
        }


        if (shipping != 'False') {
            shippingInfo.address = form.address.value
            shippingInfo.state = form.state.value
            shippingInfo.city = form.city.value
            shippingInfo.phone = form.phone.value
        }

        if (user == 'AnonymousUser') {
            userFormData.first_name = form.first_name.value
            userFormData.last_name = form.last_name.value
            userFormData.email = form.email.value
        }

        console.log('Shipping Info:', shippingInfo)
        console.log('User Info:', userFormData)

        var handler = PaystackPop.setup({
            key: '{{paystack_public_key}}',
            email: '{{ order.customer.email }}' || userFormData.email, // Use the customer's email address
            amount: total * 100, // Convert cart total to kobo (Paystack uses kobo as its currency unit)
            currency: 'NGN',
            // Use the transaction ID as the reference
            metadata: {
                custom_fields: [
                    {
                        display_name: 'Full Name',
                        variable_name: 'full_name',
                        value: "{{ order.customer.first_name }} {{ order.customer.last_name }}" || userFormData.first_name + ' ' + userFormData.last_name,
                        // Use the customer's name
                    }
                ]
            },
            callback: function (response) {
                // Submit the form to complete the order and mark it as paid

                // Call the processOrder view to complete the order
                var url = '/process_order/'

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        'form': userFormData,
                        'shipping': shippingInfo,
                        'reference': response.reference
                    })
                })

                    .then((response) => response.json())

                    .then((data) => {
                        console.log('Success:', data);
                        alert('Transaction Completed!');

                        cart = {}
                        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
                        window.location.href = "{% url 'index' %}"
                    })
                console.log(response);
            },
            onClose: function () {
                // Enable the Pay Now button if the customer closes the Paystack dialog
                var payBtn = document.getElementById('pay-btn');
                payBtn.disabled = false;
                payBtn.textContent = 'Pay Now';
            }
        });
        handler.openIframe();
    }
</script>


{% endblock content %}

{% comment %} <div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form action="" id="form">
                {% csrf_token %}
                <div id="user-info">
                    <div class="form-field">
                        <input required type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="form-field">
                        <input required type="email" class="form-control" name="email" placeholder="Email">
                    </div>

                </div>
                <div id="shipping-info">
                    <hr>
                    <p><strong>Shipping Information</strong></p>
                    <hr>

                    <div class="form-field">
                        <input required type="text" class="form-control" name="address" placeholder="Address">
                    </div>
                    <div class="form-field">
                        <input required type="text" class="form-control" name="city" placeholder="City">
                    </div>
                    <div class="form-field">
                        <input required type="text" class="form-control" name="state" placeholder="State">
                    </div>
                    <div class="form-field">
                        <input required type="number" class="form-control" name="phone" placeholder="Phone No.">
                    </div>

                </div>
                <hr>
                <input type="submit" value="Continue" id="form-button" class="btn btn-success btn-block">
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>PayPal Options</small>
            <button id="make-payment">Make Payment</button>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <a href="{% url 'cart' %}" class="btn btn-outline-dark">Back to Cart</a>
            <hr>
            <h6><strong>Order Summery</strong></h6>
            <hr> {%for item in items%}

            <div class="cart-row">
                <div style="flex: 2;"><img src="{{item.product.ImageURL}}" class="row-image"></div>
                <div style="flex: 2;"><strong>{{item.product.name}}</strong></div>
                <div style="flex: 1;"><strong>${{item.product.price}}</strong></div>
                <div style="flex: 1;">
                    <p><strong>x{{item.quantity}}</strong></p>
                </div>

            </div>
            {%endfor%}

            <h4>Items: {{order.get_cart_items}}</h4>
            <h4>Total: ${{order.get_cart_total|floatformat:2}}</h4>

        </div>

    </div>
</div> {% endcomment %}