{% extends 'store/main.html' %} {% load static %} {% block content %}

<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-12 col-md-12">
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-1">
                            <img src="{% static 'images/slider/1.jpg' %}" alt="" />
                            <div class="slider-content">
                                <h5>Sale Offer <span>-10% Off</span> This Week</h5>
                                <h2>Chamcham Galaxy S9 | S9+</h2>
                                <h3>Starting at <span>₦90,000.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-2">
                            <img src="{% static 'images/slider/2.jpg' %}" alt="" />
                            <div class="slider-content">
                                <h5>Sales Offer <span>Black Friday</span> This Week</h5>
                                <h2>Work Desk Surface Studio 2018</h2>
                                <h3>Starting at <span>₦85,000.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-3">
                            <img src="{% static 'images/slider/3.jpg' %}" alt="" />
                            <div class="slider-content">
                                <h5>Sales Offer <span>-10% Off</span> This Week</h5>
                                <h2>Phantom 4 Pro+ Obsidian</h2>
                                <h3>Starting at <span>₦311,849.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
        </div>
    </div>
</div>

<div class="product-area pt-60 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul id="categories-tab" class="nav li-product-menu">
                        <li>
                            <a {% if selected_category == None %} class="active" {% endif %} href="{% url 'index' %}">
                                All
                            </a>
                        </li>
                        {% for category in categories %}
                        <li>
                            <a href="?category={{category.slug}}" {% if selected_category == category %}
                                class="active category-link" {% else %} class="category-link" {% endif %}
                                data-target="#li-new-product-{{selected_category.slug}}">
                                <span>
                                    {{category.name}}
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% include "category_products/products.html" %}

    </div>
</div>

{% endblock content %}