{% extends 'store/main.html' %} {% load static %} {% block content %}
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Single Product</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->
<div class="content-wraper">
    <div class="container">
        <div class="row single-product-area">
            <div class="col-lg-5 col-md-6">
                <!-- Product Details Left -->
                <div class="product-details-left">
                    <div class="product-details-images slider-navigation-1">
                        <div class="lg-image">
                            <a class="popup-img venobox vbox-item" href="{{product.ImageURL}}" data-gall="myGallery">
                                <img src="{{product.ImageURL}}" alt="product image">
                            </a>
                        </div>
                    </div>
                </div>
                <!--// Product Details Left -->
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="product-details-view-content pt-60">
                    <div class="product-info">
                        <h2>{{product.name}}</h2>
                        <div class="rating-box pt-20">
                            <ul class="rating rating-with-review-item">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                        <div class="price-box pt-20">
                            <span class="new-price new-price-2" data-price="{{product.price}}">₦{{product.price|floatformat:2}}</span>
                        </div>
                        <div class="product-desc">
                            <p>
                                <span>100% cotton double printed dress. Black and white striped top and orange
                                    high waisted skater skirt bottom. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. quibusdam corporis, earum facilis et nostrum dolorum
                                    accusamus similique eveniet quia pariatur.
                                </span>
                            </p>
                        </div>
                        <div class="product-variants row">
                            <div class="produt-variants-size">
                                {% if product.colors.exists and product.sizes.exists %}
                                    <label>Colors</label>
                                    <select class="nice-select" id="colorSelect">
                                        {% for color in product.colors.all %}
                                            <option value="{{ color }}">{{ color }}</option>
                                        {% endfor %}
                                    </select>
                                    <br>
                                    <br>
                                    <br>
                                    <label>Sizes</label>
                                    <select class="nice-select" id="sizeSelect">
                                        {% for size in product.sizes.all %}
                                            <option value="{{ size }}">{{ size }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif product.sizes.exists %}
                                    <label>Sizes</label>
                                    <select class="nice-select" id="sizeSelect">
                                        {% for size in product.sizes.all %}
                                            <option value="{{ size }}">{{ size }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif product.colors.exists %}
                                    <label>Colors</label>
                                    <select class="nice-select" id="colorSelect">
                                        {% for color in product.colors.all %}
                                            <option value="{{ color }}">{{ color }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-add-to-cart">
                            <div class="cart-quantity">
                                <button class="add-to-cart update-cart" data-action="add"
                                    data-product="{{product.id}}">Add to cart</button>
                            </div>
                        </div>
                        <div class="block-reassurance">
                            <ul>
                                <li>
                                    <div class="reassurance-item">
                                        <div class="reassurance-icon">
                                            <i class="fa fa-check-square-o"></i>
                                        </div>
                                        <p>Security policy</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="reassurance-item">
                                        <div class="reassurance-icon">
                                            <i class="fa fa-truck"></i>
                                        </div>
                                        <p>Fast Delivery policy</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="reassurance-item">
                                        <div class="reassurance-icon">
                                            <i class="fa fa-exchange"></i>
                                        </div>
                                        <p> Return policy</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wraper end -->
{% endblock content %}